/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px; }

.demo-icons li {
  margin-bottom: 50px;
  text-align: center; }

.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px; }

.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px; }

.demo-layout .layout-item {
  text-align: center;
  margin-bottom: 30px; }
  .demo-layout .layout-item > a {
    display: block;
    position: relative; }

.demo-layout .layout-active {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 58px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -25px;
  margin-right: -25px;
  background-color: #41B314; }
  .demo-layout .layout-active i {
    font-size: 28px;
    color: #fff; }

/* flot chart */
.demo-flot-chart {
  width: 100%;
  height: 350px; }

/*# sourceMappingURL=demo.css.map */