.container2{
    margin-top: -15rem;
}
.newH1{
    font-size: 10rem !important;
    margin-bottom: 15px;
    color : white;
}

.newH2{
    font-size: 5rem !important;
    margin-bottom: 20px;
}

.span{
    color : #53A1D8;    
}
.container .row .span{
    color : #53A1D8; 
}

.container3{
    color : white;
}

.navigationList{
    text-align: right !important;
}

.headerBar{
    background-color: #353535;
    width: 1950px;
    margin-left: -220px;
    margin-top: -20px;
    position: fixed;
}

.logo{
   display: inline-block;
    float: left;
    margin-top: -1rem;
    width: 65px;
}

.firstLandingPage{
    position: absolute;
    width: 100%;
}

.ketua-lembaga{
    display: inline-block;
}

.main-menu .dropdown a:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 0;
    top: 1px;
    background-image: url("../img/icons/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.main-menu .dropdown a:hover:after {
    background-image: url("../img/icons/arrow-down-color.png");
}



/* FOOTER */
.footer{
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    margin-top: -30px;
    margin-bottom: 30px;
}

.container .myButton{
    box-sizing: border-box;
    padding: 20px;
    background: #2C0F3C;
    font-family: unset;
    border : 3px solid white;
    border-radius: 10px;
    width: 10rem;
}

.container .myButton a{
    color: white;
}

.jabatan{
    color: lightgrey;
    margin-top: -1rem;
}