html,

.inputph::-webkit-input-placeholder{
	color:grey;
}
.inputph::-moz-input-placeholder{
	color:grey;
}
.inputph::-ms-input-placeholder{
	color:grey;
}

.intro-section{ 
	background: #050505 !important;
	padding: 115px 0 !important;
}

.main-menu li a:hover {
	color: #3d84a8 !important;
	}

.main-menu li a:hover i {
	color: #3d84a8 !important;
}

.main-menu li:hover>a {
	color: #3d84a8 !important;
}

.main-menu li .sub-menu li a:hover {
	color: #3d84a8 !important;
}

.hero-slider .owl-dots .owl-dot.active {
	color: #3d84a8 !important;
	border: 2px solid #3d84a8 !important;

}
.hero-item {
	height: 696px;
	border-bottom: 2px solid #3d84a8 !important;
}
.review-section{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#330d38+0,190d36+100 */
	background: #5588a3;
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #5588a3 0%, #145374 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#5588a3), to(#145374));
	background: -o-linear-gradient(left, #5588a3 0%, #145374 100%);
	background: linear-gradient(to right, #5588a3 0%, #145374 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5588a3', endColorstr='#145374', GradientType=1);
	/* IE6-9 */
}
.hero-slider .owl-dots .owl-dot.active {
	color: #ffffff;
	border: 2px solid #ffffff;
}

.blog-section {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#330d38+0,190d36+100 */
	background: #111111;
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #111111 0%, #323232 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#111111), to(#323232));
	background: -o-linear-gradient(left, #111111 0%, #323232 100%);
	background: linear-gradient(to right, #111111 0%, #323232 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#145374', GradientType=1);
	/* IE6-9 */
}
.blog-filter li a:hover {
	background: #3d84a8 !im;
	}

.trending-widget .tw-text .tw-meta {
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 7px;
}


.footer-section {
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#330d38+0,190d36+100 */
	background: #5588a3;
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #5588a3 0%, #145374 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#5588a3), to(#145374));
	background: -o-linear-gradient(left, #5588a3 0%, #145374 100%);
	background: linear-gradient(to right, #5588a3 0%, #145374 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5588a3', endColorstr='#145374', GradientType=1);
	/* IE6-9 */
}
